<div class="col-md-4 exhibition-section">
    <div class="item-body">
		<a href="{{url}}"><img src="{{url}}" alt="" width="426.66px" height="240px"></a>
		
		<div class="dismiss-button" onclick="deleteItem('{{_id}}')">
			<i class="fa fa-trash"></i>
		</div>

    	<p class="indent-wrapped">ID: {{_id}}</p>
        <p class="indent-wrapped">NAME: {{name}}</p>
        <p class="indent-wrapped">OWNER: {{owner}}</p>
        <p class="indent-wrapped">SIZE: {{width}} * {{height}}</p>
        <p class="indent-wrapped">DESCRIPTION: {{description}}</p>
    </div>    
</div>