<section class="col-md-4 exhibition-section">
    <img src="{{url}}" alt="">
    <div class="item-body">
        <p class="indent-wrapped">NAME: {{name}}</p>
        <p class="indent-wrapped">OWNER: {{owner}}</p>
        <p class="indent-wrapped">SIZE: {{width}} * {{height}}</p>
        <p class="indent-wrapped">DESCRIPTION: {{description}}</p-->
    </div>
    <div class = "dismiss-button" >
        <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
</section>
