<section class="exhibition-section">
    <a href="{{url}}"><img src="{{url}}" alt="" width="426.66px" height="240px"></a>
    <div class="">
        <p>NAME: {{name}}</p>
        <p>OWNER: {{owner}}</p>
        <p>SIZE: {{width}} * {{height}}</p>
        <p>DESCRIPTION: {{description}}</p>
    </div>
    <div class = "dismiss-button" >
        <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
</section>
