<section class="exhibition-section">
    <img src="{{url}}" alt="" width="426.66px" height="240px">
    <div class="">
        <p>NAME: {{name}}</p>
        <p>OWNER: {{owner}}</p>
        <p>SIZE: {{width}} * {{height}}</p>
        <p>DESCRIPTION: {{description}}</p>
    </div>
</section>
